<%- include('../partials/header') %>
<br>    
<h2 class="d-flex bg-light rounded-pill p-2 justify-content-center">
        <div class="flex-fill">
            <%= account.name %>
        </div>
        <div class=""> Balance: $<%= account.transactions.reduce((acc,trans)=>acc+trans.amount,0).toFixed(2)%></div>
    </h2>
    <br>

    <div class="bg-light rounded">
        <form action="/accounts/<%= account._id %>/transactions" method="POST">
            <label>Date:</label>
             <input required name="date" type="date">
            <label>Description:</label> 
            <input name="description" type="text">
            <label>Category:</label> 
            <select name="category">
                <option value="Bill">Bill</option>
                <option value="Deposit">Deposit</option>
                <option value="ATM">ATM</option>
                <option value="Groceries">Groceries</option>
                <option value="Misc">Other</option>
            </select>
            <label>Amount:</label> 
            <input name="amount" type="number" step=.01>
            <button type="submit" class="btn btn-light">Submit</button>
        </form>
        <br>
        <form action="/accounts/<%= account._id %>/filter" method="POST">
            <label>Filter:</label> 
            <select name="category">
                <option value="All">All</option>
                <option value="Bill">Bill</option>
                <option value="Deposit">Deposit</option>
                <option value="ATM">ATM</option>
                <option value="Groceries">Groceries</option>
                <option value="Misc">Other</option>
            </select>
            <button class="btn btn-light btn-sm" type="submit">Submit</button>
        </form>
    </div>
    <br> <br>
    <div class="d-flex flex-column align-items-center">
        <table class="table rounded table-hover bg-light">
            <thead>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
                <th></th>
            </thead>
            <tbody>

                <% account.transactions.forEach(function(transaction){ %>
                    <tr >
                        <td>
                            <%= transaction.date.getMonth() +1 %>/<%= transaction.date.getDate() %>/<%= transaction.date.getFullYear() %>
                        </td>
                        <td>
                            <%= transaction.description %>
                        </td>
                        <td>
                            <%= transaction.category %>
                        </td>
                        <td style=<%= transaction.amount > 0 ? "color:green" : "color:black"%> >
                            $<%= Math.abs(transaction.amount) %>
                        </td>
                        <td>
                            <button data-bs-toggle="collapse" class="btn btn-sm btn-dark accordion-toggle" data-bs-target="#edit<%= transaction._id %>">Edit</button>
                        </td>
                        <td>
                            <form action="/transactions/<%= transaction._id %>?_method=DELETE" method ="POST">
                                <button class="btn btn-sm btn-danger">X</button>
                            </form>
                        </td>
                    </tr>
                    
                    <td colspan="5" class="accordian-body collapse" id="edit<%= transaction._id %>">
                    
                        <div class="">
                            <p>Edit Transaction</p>
                            <form action="/transactions/<%= transaction._id %>?_method=PUT" method="POST">
                                <label>Date:</label>
                                <input value="<%= transaction.date.getFullYear() %>-<%= transaction.date.getMonth()+1 %>-<%= transaction.date.getDate() %>"  required name="date" type="date">
                                <label>Description:</label> 
                                <input value="<%= transaction.description %>" name="description" type="text">
                                <label>Category:</label> 
                                <select name="category" id="">
                                    <option value="Bill">Bill</option>
                                    <option <%= transaction.category==="Deposit" ? "selected" : null %>  value="Deposit">Deposit</option>
                                    <option <%= transaction.category==="ATM" ? "selected" : null %> value="ATM">ATM</option>
                                    <option <%= transaction.category==="Groceries" ? "selected" : null %> value="Groceries">Groceries</option>
                                    <option <%= transaction.category==="Misc" ? "selected" : null %> value="Misc">Other</option>
                                </select>
                                <label>Amount:</label> 
                                <input  value="<%= Math.abs(transaction.amount) %>" name="amount" type="number" step=.01>
                                <button type="submit" class="btn btn-dark">Submit</button>
                            </form>
                            
                            </div>
                            
                            
                            </td>
                    
                    
                    <% }) %>

            </tbody>
        </table>
    </div>

    <%- include('../partials/footer') %>